html {
  text-align: center;
}

body {
  background-color: black;
  color: rgba(255, 255, 255, 0.956);
}

.main-container {
  margin: auto;
  margin-top: 175px;
}

.restaurants {
  background-color: rgba(128, 128, 128, 0.41);
  margin: auto;
  width: 250px;
  height: 100px;
}

.cuisines {
  background-color: rgba(128, 128, 128, 0.41);
  margin: auto;
  margin-top: 10px;
  width: 250px;
  height: 100px;
}

a {
  color: white;
}

div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
}