@{
  Layout = "_Layout";
}

<h1>EXPLORE FOOD</h1>

<div class="restaurants">
  <br />
  @Html.ActionLink("See all restaurants", "Index", "Restaurants")
</div>
<div class="cuisines">
  <br />
  @Html.ActionLink("See all cuisines", "Index", "Cuisines")
</div>