@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h2>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</h2>

@using (Html.BeginForm())
{
  <br />
  <input type="submit" value="Delete" class="btn btn-danger btn-lg" />
}
<br />
@Html.ActionLink("Back to List", "Index")