@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h2>@Html.DisplayFor(model => model.Name)</h2>
<h3>@Html.DisplayFor(model => model.Rating) Stars!</h3>
@* <h2>Michelin?:</h2>
 @if (Model.IsMichelin)
  {
    <h3>Yes</h3> 
  }
  else
  {
    <h3>No</h3>
  } *@
<br />
<br />
<p>@Html.ActionLink("Edit Restaurant", "Edit", new { id = Model.RestaurantId }, new { @class = "btn btn-dark btn-sm" })</p>
<p>@Html.ActionLink("Delete Restaurant", "Delete", new { id = Model.RestaurantId }, new { @class = "btn btn-danger btn-sm" })</p>